#start-btn{
    width:  40%;
}
#camera{
    width:            360px;
    height:           250px;
    border:           1px solid grey;
}
#logo_img{
    width:            150px;
    border-radius:    100px;
}
#textbox{
    width:            300px;
}
body{
    background-image: radial-gradient(rgb(255, 51, 0), rgb(255, 166, 0), rgb(255, 238, 0), rgb(0, 184, 216), rgb(4, 8, 32));
}